@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap');
.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: #1e283f;
    ;
    /* background-image: url('./img/0604bg.png'); */
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    overflow: scroll;
}

.img-box {
    padding: 20px 40px 10px 40px;
    width: 350px;
    margin: 30px auto 50px auto;
    text-align: center;
    border-radius: 30px;
    box-shadow: 3px 3px 26px rgba(13, 39, 80, 0.16);
    z-index: 99;
    background: #ffffff;
    border: 1.5px solid #FFBF2E;
    border-right: 6px solid #FFBF2E;
    border-bottom: 6px solid #FFBF2E;
}

.bg-top {
    max-width: 333px;
    position: absolute;
    top: -154.2px;
    left: 5px;
}

@media (max-width:425px) {
    .img-box {
        width: 280px;
    }
    .bg-top {
        top: -153.2px;
        left: 14px;
    }
}

@media (max-width:376px) {
    .img-box {
        width: 250px;
    }
    .bg-top {
        max-width: 318px;
        top: -147.2px;
        left: 5px;
    }
}

@media (max-width:330px) {
    .img-box {
        width: 230px;
    }
    .bg-top {
        max-width: 295px;
        top: -136.2px;
    }
}

.shopee a {
    color: #0F044D;
    text-decoration: none;
}

.chou-bear {
    width: 110px;
    position: absolute;
    top: 38px;
    left: 50%;
    transform: translateX(-50%) rotate(-10deg);
    animation-duration: 2.3s;
    animation-name: bear-move;
    animation-iteration-count: infinite;
}

@keyframes bear-move {
    0% {
        transform: translateX(-50%) scaleX(1);
    }
    50% {
        transform: translateX(-50%) scale3d(1.15, 1.15, 1.15);
    }
    100% {
        transform: translateX(-50%) scaleX(1);
    }
}

.hide {
    display: none;
}

.theme-link {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.theme {
    background-size: contain;
    background-position: center;
    word-break: keep-all;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.288);
    position: relative;
    width: 125px;
    -webkit-user-drag: none;
    height: 174px;
    user-select: none;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    margin: 0 1rem 0 0;
    box-shadow: 2px 2px 10px rgba(13, 39, 80, 0.12);
}

.theme:nth-child(1) {
    box-shadow: -6px -6px 10px rgb(255, 255, 255), 4px 4px 10px rgba(13, 39, 80, 0.16);
}

li p {
    font-size: 13px;
    color: rgb(136, 136, 136);
    margin-right: 18px;
    font-weight: 400;
}

.theme-0 {
    background-size: cover;
    background-image: url(img/兔兔bg.png);
}

.theme-1 {
    background-size: cover;
    background-image: url(img/熊熊bg.png);
}

.theme-2 {
    background-image: url(img/咖貓-4.png);
}

.theme-3 {
    background-image: url(img/黑貓-4.png);
}

.theme-4 {
    background-image: url(img/白貓-4.png);
}

.theme-5 {
    background-image: url(img/綠貓-4.png);
}

.theme-6 {
    background-image: url(img/粉貓-4.png);
}

.more-move {
    border-bottom: 1px solid #cecece;
    padding-bottom: 3px;
    animation-name: move;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes move {
    0% {
        margin-left: 0px;
        color: rgb(183, 183, 183);
    }
    50% {
        margin-left: 10px;
        color: rgb(170, 170, 170);
    }
    100% {
        margin-left: 0px;
        color: rgb(183, 183, 183);
    }
}